* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0.5px solid red; */
}

img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    transition-delay: 200ms;
}

.current-img {
    position: absolute;
    opacity: 1;
    z-index: 999;
    transition-delay: 0ms;
}

#media-player {
    
}

.image-shown {
    overflow: hidden;
}

#previous-button {
    position: absolute;
    height: 100%;
    z-index: 10000;
    left: 1rem;
}

#next-button {
    position: absolute;
    height: 100%;
    z-index: 10000;
    right: 1rem;
}

.in-from-right {
}

.in-from-left {
}

.out-to-right {
    
}

.out-to-left {
    
}
